# Distribution / packaging
.Python
package-lock.json
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python-version
__pycache__/
.vscode/
node_modules
/infra/.terraform
/infra/.terraform.lock.hcl
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
app.py

# Serverless directories
.serverless
